/* fonts : AltOutline - Alternate */
@font-face {
    font-family: 'swFont'; 
    src: url('/starWarAPI/fonts/SF\ Distant\ Galaxy\ AltOutline.ttf') format('woff');
}
@font-face {
    font-family: 'swFont1'; 
    src: url('/starWarAPI/fonts/SF\ Distant\ Galaxy\ Alternate.ttf') format('woff');
}
/* Center the entire page content */
body {
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('/starWarsAPI/pictures/starWarsBGPic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* CSS to center the entire form container */
.form-container {
    text-align: center;
    margin-top: 50px;
    border: 1px solid black;
    background-color: rgba(171, 165, 165, 0.9);
    border-radius: 20px;
    box-shadow: -2px -2px 15px 0px white;
}
/* shared classes */
.centringStyles{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sharedStyles{
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc; 
}
/* CSS to style the data rows */
.data-row {
    display: flex;
    justify-content: space-between;
    width: 300px; 
    padding: 5px;
}
.value {
    color: rgb(245, 244, 247);
    font-weight: bold;
}
/* Titles  */
h1{
    font-family: 'swFont', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    font-size: 30px;
    margin: 30px 20px 10px;
}
.specialYour{
    font-family: 'swFont1', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
}
h4{
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
.caption{
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
}
/* button */
button{
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    height: 35px;
    width: 120px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    margin: 0px 0px 20px;
    background-color: #343030;
    color: white;
}
button:hover{
    background-color: rgb(17, 17, 17);
    color: rgb(226, 164, 30);
}
button:active{
    background-color: rgb(226, 164, 30);
    color: black;
    transform: scale(0.95);
    border-color: rgb(255, 174, 1);
    
}

